*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0,0,0);
  color: #fff;
  z-index: 10;

  &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 100px;
  }

  .cart{
    position: relative;
    padding: .5rem;
    cursor: pointer;
  }

  .total-items{
    background: orangered;
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 50%;
    padding: .3rem .5rem;
  }
}

.showcase{
  padding-top: 5rem;

  .slider{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    .slide{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .4s ease-in-out;
    }

    .slide.current{
      opacity: 1;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #next, #prev{
    cursor: pointer;
    font-size: 1.2rem;
    padding: .6rem;
    background: rgb(0,0,0);
    color: #fff;
    outline: none;
    border-radius: 50%;
    border: none;
  }

  #prev{
    position: absolute;
    top: 50%;
    left: 10px;
  }

  #next{
    position: absolute;
    top: 50%;
    right: 10px;
  }
}

//Products
.products{

  h2{
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
  }

  .products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 3rem;
    
  
    .image{
      overflow: hidden;
      position: relative;
      width: 300px;
      height: 200px;
      cursor: pointer;
    }
  
    .image-img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .8s;
      // justify-self: center;
    }
  
    .content{
      position: absolute;
      top: 0;
      right: 0;
      background: coral;
      display: flex;
      align-items: center;
      padding: .7rem;
      cursor: pointer;
      transform: translateX(128px);
      visibility: hidden;
      transition: all .5s;
      i{
        margin-right: .3rem;
      }
    }
  
    .image:hover .content{
      transform: translateX(0);
      visibility: visible;
    }

    .image:hover .image-img{
      transform: scale(1.1);
    }
  }
}

.footer{
  background: black;
  color: #fff;
  height: 4rem;
  text-align: center;
  padding: 1rem;
}


//Utilities
.container{
  width: 90%;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.line{
  display: block;
  margin: 0 auto;
  height: 3px;
  background: orangered;
  width: 250px;
}